html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#background {
    background: #000000 url(table.png) no-repeat bottom left;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    height: auto !important;
    min-height:100%;
}
.board{
	width: 75em; 
	height: 18.75em; 
	padding-top: 3.125em;
}
.card-border{
	width: 5.188em; 
	height: 7.938em; 
	border: 0.125em solid #FFFFFF;
}
.container {
  padding-right: 6rem;
  padding-left: 6rem;
}
.nospace{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.space{
    padding-top: 2rem !important;
}
.white-text{
    color: #FFFFFF
}